<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>ELLE</vendor>
  <vendor_url>https://github.com/elle-project/elle</vendor_url>

  <action id="com.elle.edit-netplan">
    <description>Edit netplan configuration</description>
    <message>Authentication is required to modify network configuration</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <action id="com.elle.edit-ufw">
    <description>Edit UFW firewall rules</description>
    <message>Authentication is required to modify firewall rules</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <action id="com.elle.edit-fstab">
    <description>Edit filesystem mount configuration</description>
    <message>Authentication is required to modify mount configuration</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <action id="com.elle.manage-cron">
    <description>Manage cron jobs</description>
    <message>Authentication is required to manage scheduled tasks</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <action id="com.elle.read-privileged-logs">
    <description>Read privileged system logs</description>
    <message>Authentication is required to read privileged logs</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>
</policyconfig>
